<section class="max-w-xl md:max-w-4xl mx-auto mt-10">
  <h1
    class="font-extrabold text-center text-2xl md:text-4xl xl:text-6xl my-4 md:my-8"
  >
    Bored of bad movie quality?
  </h1>
  <p class="text-center text-md md:text-2xl text-blue-500 my-4">
    Come to us and discover best video quality!
  </p>
  <div class="diff aspect-[16/9]">
    <div class="diff-item-1">
      <img alt="original" src="/images/diff.jpg" />
    </div>
    <div class="diff-item-2">
      <img alt="blur image" src="/images/diff_blur.jpg" />
    </div>
    <div class="diff-resizer"></div>
  </div>
</section>
