<section class="m-4">
  <div class="flex flex-wrap items-center gap-2 my-4">
    <label class="input input-bordered flex items-center gap-2 grow lg:grow-0">
      <input
        type="text"
        class="grow"
        placeholder="Search by name"
        [(ngModel)]="nameInput"
        (input)="filterProjections()"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>

    <label class="input input-bordered flex items-center gap-2 grow lg:grow-0">
      <input
        type="text"
        class="grow"
        placeholder="Search by description"
        [(ngModel)]="descriptionInput"
        (input)="filterProjections()"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>

    <div class="drawer z-10">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label
          for="my-drawer"
          class="btn btn-primary mr-2 drawer-button sm:w-auto w-full"
        >
          More Filters
        </label>

        @if (this.nameInput || this.descriptionInput || this.selectedGenre ||
        this.selectedProducer || this.selectedActor || this.selectedDuration ||
        this.selectedPrice) {
        <button
          class="btn btn-outline sm:w-auto w-full mt-2 sm:mt-0"
          (click)="clearFilter()"
        >
          Remove Filters
        </button>
        }
      </div>

      <div class="drawer-side">
        <label
          for="my-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
          <select
            class="select select-primary w-full max-w-xs"
            [(ngModel)]="selectedGenre"
            (click)="filterProjections()"
          >
            <option value="" selected>Filter by Genre</option>
            <option value="action">Action</option>
            <option value="drama">Drama</option>
            <option value="comedy">Comedy</option>
            <option value="horror">Horror</option>
          </select>

          <select
            class="select select-primary w-full max-w-xs mt-4"
            [(ngModel)]="selectedDuration"
            (change)="filterProjections()"
          >
            <option value="" selected>Duration filter</option>
            <option value="short">Less than 100 mins</option>
            <option value="medium">100-120 mins</option>
            <option value="long">More than 120 mins</option>
          </select>

          <select
            class="select select-primary w-full max-w-xs mt-4"
            [(ngModel)]="selectedProducer"
            (click)="filterProjections()"
          >
            <option value="" selected>Producer filter</option>
            <option value="Shawn Levy">Shawn Levy</option>
            <option value="Chris Renaud">Chris Renaud</option>
            <option value="James Watkins">James Watkins</option>
            <option value="Rupert Sanders">Rupert Sanders</option>
            <option value="Michael Su">Michael Su</option>
            <option value="Kim Tae-gon">Kim Tae-gon</option>
            <option value="Chris Sanders">Chris Sanders</option>
            <option value="Todd Phillips">Todd Phillips</option>
            <option value="Adil El Arbi">Adil El Arbi</option>
          </select>

          <select
            class="select select-primary w-full max-w-xs mt-4"
            [(ngModel)]="selectedActor"
            (click)="filterProjections()"
          >
            <option value="" selected>Actor filter</option>
            <option value="Brad Pitt">Brad Pitt</option>
            <option value="Robert De Niro">Robert De Niro</option>
            <option value="Ryan Reynolds">Ryan Reynolds</option>
            <option value="Steve Carell">Steve Carell</option>
            <option value="James McAvoy">James McAvoy</option>
            <option value="Danny Huston">Danny Huston</option>
            <option value="Tom Arnold">Tom Arnold</option>
            <option value="Lee Sun-kyun">Lee Sun-kyun</option>
            <option value="Pedro Pascal">Pedro Pascal</option>
          </select>

          <select
            class="select select-primary w-full max-w-xs mt-4"
            [(ngModel)]="selectedPrice"
            (change)="filterProjections()"
          >
            <option value="" selected>Price filter</option>
            <option value="cheap">Less than 5$</option>
            <option value="medium">Less than 10$</option>
            <option value="expensive">More than 10$</option>
          </select>

          @if (this.nameInput || this.descriptionInput || this.selectedGenre ||
          this.selectedProducer || this.selectedActor || this.selectedDuration
          || this.selectedPrice) {
          <button class="btn btn-outline mt-4 w-full" (click)="clearFilter()">
            Remove Filters
          </button>
          }
        </ul>
      </div>
    </div>
  </div>

  @if (!isLoading && filteredProjections.length === 0) {
  <div class="flex items-center justify-center min-h-60">
    <p class="text-center text-xl">
      There are no projections that matched your filters. 😞
    </p>
  </div>
  } @if (isLoading) {
  <div class="flex items-center justify-center min-h-screen">
    <lucide-icon name="loader" class="animate-spin size-10"></lucide-icon>
  </div>
  }

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    @for (projection of filteredProjections; track projection._id) {
    <app-projection-card [projection]="projection" />
    }
  </div>
</section>
