<h1 class="text-2xl md:text-4xl text-center p-4 text-blue-500">
  Your reservations history
</h1>
<section
  class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4"
>
  @if (reservations.length > 0) { @for (reservation of reservations; track
  reservation._id) {
  <div class="card bg-base-100 w-auto shadow-xl my-2">
    <figure>
      <img
        [src]="reservation.projection.movie.image_url"
        [alt]="reservation.projection.movie.name"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title border-b-2 text-blue-500">
        {{ reservation.projection.movie.name }}
      </h2>
      <p>
        <span class="font-bold">Genre:</span>
        {{ reservation.projection.movie.genre }}
      </p>
      <p>
        <span class="font-bold">Duration:</span>
        {{ reservation.projection.movie.duration }} minutes
      </p>
      <p>
        <span class="font-bold">Starts:</span>
        {{ formatDateAndTime(reservation.projection.starting_at) }}
      </p>
      <p>
        <span class="font-bold">Price:</span>
        {{ reservation.projection.price }} $
      </p>
      <p>
        <span class="font-bold">Status: </span>
        @if (reservation.status == "watched") {
        <span class="text-green-500">Watched</span>
        } @else {
        <span class="text-red-500">Cancelled</span>
        }
      </p>
      <div class="flex flex-col gap-2 md:flex-row w-full">
        @if (reservation.status == "watched") {
        <!-- Modal for posting comment -->
        <!-- Open the modal using ID.showModal() method -->
        <button class="btn btn-primary" onclick="my_modal_1.showModal()">
          Post review
        </button>
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="text-lg font-bold text-center">Review</h3>
            <p class="py-4">Press ESC key or click the button below to close</p>
            <p>Rating</p>
            <input
              type="range"
              min="1"
              max="5"
              [(ngModel)]="rating"
              class="range range-primary"
            />
            <p>Comment</p>
            <textarea
              class="textarea textarea-bordered w-full"
              placeholder="Comment"
              [(ngModel)]="comment"
            ></textarea>

            <div class="modal-action">
              <form method="dialog">
                <div class="flex gap-4">
                  <button class="btn">Close</button>
                  <button
                    class="btn btn-primary"
                    (click)="onSubmit(reservation)"
                  >
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
        </dialog>
        }
        <button class="btn btn-outline" (click)="navigateToMovie(reservation)">
          Detail
        </button>
      </div>
    </div>
  </div>
  } } @else {
  <p class="text-center text-xl mt-4 md:mt-10">No reservations found 😞</p>
  }
</section>
