<section
  class="border-slate-400 border-2 rounded-lg max-w-2xl mx-auto mt-10 p-4 xl:p-10 shadow-lg"
>
  <h1 class="text-2xl text-center p-4 text-blue-500 border-b-2">
    User profile information
  </h1>
  <div class="flex gap-4 my-4">
    <div class="avatar online">
      <div class="size-12 md:size-16 rounded-full">
        <img src="/images/avatar.png" />
      </div>
    </div>
    <div>
      <p class="text-md font-bold md:text-xl">{{ firstName }} {{ lastName }}</p>
      <p>Active</p>
    </div>
  </div>

  <div>
    <div class="flex py-2 gap-2 items-center">
      <lucide-icon name="mail" [size]="18" />
      <span class="font-bold">Email:</span> {{ email }}
    </div>
    <div class="flex py-2 gap-2 items-center">
      <lucide-icon name="phone" [size]="18" />
      <span class="font-bold">Phone number:</span>
      @if (!phoneNumber) {
      <span class="text-red-500">Not available</span>
      } @else {
      {{ phoneNumber }}
      }
    </div>
    <div class="flex py-2 gap-2 items-center">
      <lucide-icon name="map-pin-house" [size]="18" />
      <span class="font-bold">Address:</span>
      @if (!address) {
      <span class="text-red-500">Not available</span>
      } @else {
      {{ address }}
      }
    </div>
    <div class="flex py-2 gap-2 items-center">
      <lucide-icon name="heart" [size]="18" />
      <span class="font-bold">Favourite genres:</span>
      @if (favouriteGenres?.length === 0) {
      <span class="text-red-500">Not available</span>
      } @else {
      {{ favouriteGenres }}
      }
    </div>
  </div>

  <div class="flex gap-4 my-4 items-center">
    <p>Do you want to edit info about yourself?</p>
    <a
      class="btn btn-primary btn-outline"
      routerLink="/profile/edit"
      routerLinkActive="router-link-active"
    >
      Edit profile
    </a>
  </div>
</section>
